
<%- include("header") -%>
    <div clas="box" id="heading">
        <h1><%= PageName %></h1>
        <h2><%= whichday %></h2>
    </div>
    
    <div class="box">
        <% for(let i=0; i<itemList.length; i++){ %>
            <div class="item" >
                <input type="checkbox">
                <p><%=itemList[i].name%></p>
            </div>
        <%}%>

        <form class="item" action="/" method="POST">
            <input type="text" name="nextThing" placeholder="New Goal" autocomplete="off">
            <button type="submit" name="button" value=<%= PageName %>>+</button>
        </form>
    </div>
    <%- include("footer") -%>
    

